* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", serif;
}
.bg-navbar {
  background-color: #423e37;
}
a {
  color: #edebcd !important;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
.bg-footer {
  background-color: #edebcd;
}
footer a {
  color: #e3b23c !important;
}
.text-secondary {
  color: #e3b23c !important;
}
.btn {
  color: blue !important;
}
.btn:hover {
  color: white !important;
}
.heading {
  color: #423e37 !important ;
  font-weight: bold;
  font-size: 2rem;
}
.text-heading {
  color: #423e37 !important ;
  font-weight: bold;
  font-size: 2rem;
}
.ambition {
  line-height: 1.4 rem;
}
.text-align {
  font-size: 1.3rem;
}
.text-goal {
  font-size: 1.1 rem;
  line-height: 1.7;
  text-align: left;
}
.icon a {
  color: black !important;
}
